# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python
build/
dist/
.venv/
venv/

# Testes e ferramentas
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
coverage.xml
htmlcov/

# Ambiente
.env
*.local

# Editores
.idea/
.vscode/*
!.vscode/settings.json
